<div
  style="
    background: var(--en-theme-color-background-surface-elevation-0);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    align-items: center;
    justify-content: center;
  "
>
  <div class="en-u-spacing--left" style="display: flex">
    <f-po
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      "
    >
      <h2>Total Number of Users</h2>
      <h3>
        {{ usersCount }}
      </h3>
    </f-po>
    <en-divider variant="vertical"></en-divider>
    <f-po
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      "
    >
      <h2>Total Number of Orders</h2>
      <h3>
        {{ ordersCount }}
      </h3>
    </f-po>
  </div>

  <div style="height: 500px">
    <!-- <en-button slot="trigger">Show chart</en-button> -->
    <ag-charts [options]="chartOptions"> </ag-charts>
  </div>
</div>
