@import url('en-web-components/dist/en/en.css');
@import url('en-web-components/dist/en/iconfonts/iconfont.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap');

/* @import url('ag-grid-community/styles/ag-grid.css'); */
/* @import url('ag-grid-community/styles/ag-theme-alpine.css'); */
@import 'node_modules/en-web-components/dist/en/scss/ag-grid.scss';
@import 'ec1-prime-ng/assets/style.css';

@import "~ag-grid-community/styles/ag-grid.css";
@import "~ag-grid-community/styles/ag-theme-balham.css";


.apply-icon {
  font-family: 'iconfont';
}

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}